# Переобучение. Практика

## Цели практической работы

- Узнать новый вид функции потерь
- Научиться определять переобучение
- Познакомиться с функционалом библиотеки Scikit-learn

## Что входит в практическую работу

- Загрузить данные и ознакомиться с ними
- Изучить формулу для новой функций потерь
- Реализовать расчет с помощью стандартных средств python
- Реализовать расчет с помощью  библиотеки Scikit-learn
- Сделать вывод о наличии переобучения

## Что оценивается 

- Программа выдаёт верный ответ на заданном наборе данных
- На основе полученных данных сделан правильный вывод

Скачайте файл с заданием в материалах, откройте его через Jupyter Notebook и выполните задачи.
Задание не нужно сдавать на проверку.

## Задача 1: классификация

Пусть у нас имеется некоторый набор данных, где:
- `train1.csv` - это правильные ответы и предсказанные моделью для обучающей выборки,
- `test1.csv` - это правильные ответы и предсказанные моделью для тестовой выборки

В данных таблицах `y` - это правильные ответы, а `y_model` - ответы, предсказанные моделью

Давайте разберем метрику Точность - Accuracy.

Точность - это доля объектов по которым классификатор принял правильное решение.


> Accuracy = P/N


где P – количество объектов, по которым модель отдает правильный ответ,

N – размер выборки

In [1]:
# подключить библиотеку для считывания данных
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# Ваш код здесь

In [8]:
# считать данные
train = pd.read_csv('train1.csv')
test = pd.read_csv('test1.csv')
# Ваш код здесь
train.head()

   y  y_model
0  0        0
1  0        1
2  0        1
3  0        0
4  0        0

In [9]:
test.head()

   y  y_model
0  0        1
1  1        1
2  0        0
3  0        1
4  0        1

In [12]:
train.shape

(700, 2)

In [13]:
test.shape

(300, 2)

Итак, реализуйте расчет формулы для метрики Accuracy для следующих выборок: обучающая и тестовая и определите, это переобучение или нет.

1. Реализуйте функцию самостоятельно

In [14]:
# реализация accuracy для обучающей выборки
# Ваш код здесь
sum(train['y'] == train['y_model'])/len(train['y'])

0.8571428571428571

In [15]:
# реализация accuracy для тестовой выборки

# Ваш код здесь
sum(test['y'] == test['y_model'])/len(test['y'])

0.53

2. Подключите необходимый функционал из `sklearn`

In [16]:
# подключение библиотеки
from sklearn.metrics import accuracy_score

In [18]:
# расчет accuracy для обучающей выборки

# Ваш код здесь
accuracy_score(train['y'], train['y_model'])

0.8571428571428571

In [19]:
# расчет accuracy для тестовой выборки

# Ваш код здесь
accuracy_score(test['y'], test['y_model'])

0.53

3. Поразмышляйте, какой можно сделать вывод? Есть ли переобучение?

Разница достаточно большая между показателями тренировочной и тестовой выборках, поэтому можно сделать вывод, что модель переобучена.

## Задача 2: регрессия

Пусть у нас имеется некоторый набор данных, где:
- `train2.csv` - это правильные ответы и предсказанные моделью для обучающей выборки,
- `test2.csv` - это правильные ответы и предсказанные моделью для тестовой выборки

В данных таблицах `y` - это правильные ответы, а `y_model` - ответы, предсказанные моделью

In [20]:
# подключить библиотеку для считывания данных

# Ваш код здесь
from sklearn.metrics import mean_absolute_error

In [21]:
# считать данные

# Ваш код здесь
train2 = pd.read_csv('train2.csv')
test2 = pd.read_csv('test2.csv')

Реализуйте расчет формулы для метрики RMSE для следующих выборок: обучающая и тестовая и определите, произошло ли переобучение или нет.

1. Реализуйте функцию самостоятельно

In [29]:
# реализация RMSE для обучающей выборки

# Ваш код здесь
mse = sum((train2['y']-train2['y_model'])**2/len(train2['y']))
np.sqrt(mse)

1.2054745292063132

In [31]:
# расчет RMSE для тестовой выборки

# Ваш код здесь
np.sqrt(sum((test2['y']-test2['y_model'])**2/len(test2['y'])))

1.2780500914185309

2. Подключите необходимый функционал из `sklearn`

In [32]:
from sklearn.metrics import mean_squared_error

In [34]:
# реализация RMSE для обучающей выборки

# Ваш код здесь
np.sqrt(mean_squared_error(train2['y'], train2['y_model']))

1.205474529206313

In [35]:
# расчет RMSE для тестовой выборки

# Ваш код здесь
np.sqrt(mean_squared_error(test2['y'], test2['y_model']))

1.2780500914185313

3. Поразмышляйте, какой можно сделать вывод? Есть ли тут переобучение?

Расчеты практически одинаковые, поэтому можно сделать вывод, что переобучения нет

|

|

|

|

|

|

|

|

|

|

|

## Ответы для самостоятельной проверки

### Задача 1

In [ ]:
# подключить библиотеку для считывания данных
import pandas as pd

In [ ]:
# считать данные
train = pd.read_csv('train1.csv')
test = pd.read_csv('test1.csv')

In [ ]:
train.head()

   y  y_model
0  0        0
1  0        1
2  0        1
3  0        0
4  0        0

In [ ]:
test.head()

   y  y_model
0  0        1
1  1        1
2  0        0
3  0        1
4  0        1

In [ ]:
# реализация accuracy для обучающей выборки
sum(train['y'] == train['y_model'])/len(train['y'])

0.8571428571428571

In [ ]:
# реализация accuracy для тестовой выборки
sum(test['y'] == test['y_model'])/len(test['y'])

0.53

In [ ]:
# подключение библиотеки
from sklearn.metrics import accuracy_score

In [ ]:
# расчет accuracy для обучающей выборки
accuracy_score(train['y'], train['y_model'])

0.8571428571428571

In [ ]:
# расчет accuracy для тестовой выборки
accuracy_score(test['y'], test['y_model'])

0.53

**Вывод:** так как качество на обучающей выборке сильно больше, чем на тестовой выборке, имеет место переобучение

### Задача 2

In [ ]:
# считать данные
train = pd.read_csv('train2.csv')
test = pd.read_csv('test2.csv')

In [ ]:
train.head()

          y   y_model
0 -0.905828 -1.449569
1 -2.165341 -1.032170
2  0.472354 -1.838678
3 -2.198938 -3.912070
4  0.660721  2.682297

In [ ]:
test.head()

          y   y_model
0  2.078788  1.184509
1 -9.831207 -7.460153
2  0.457124  1.603174
3 -3.382788 -4.557927
4 -1.215332 -1.813289

In [ ]:
# подключение библиотеки
import numpy as np

In [ ]:
# реализация RMSE для обучающей выборки
mse_train = sum((train['y'] - train['y_model'])**2)/len(train['y'])
np.sqrt(mse_train)

1.2054745292063127

In [ ]:
# реализация RMSE для тестовой выборки
mse_test = sum((test['y'] - test['y_model'])**2)/len(test['y'])
np.sqrt(mse_test)

1.2780500914185309

In [ ]:
# подключение библиотеки
from sklearn.metrics import mean_squared_error

In [ ]:
# расчет RMSE для обучающей выборки
np.sqrt(mean_squared_error(train['y'], train['y_model']))

1.205474529206313

In [ ]:
# расчет RMSE для тестовой выборки
np.sqrt(mean_squared_error(test['y'], test['y_model']))

1.2780500914185313

**Вывод:** так как качество на обучающей и тестовой выборках отличаются незначительно, переобучение отсутствует